In [1]:
from fastai.collab import *
from fastai.tabular import *

import pandas as pd

In [2]:
path = Path("/home/sloth/datasets/anime/anime-recommendations-database")

In [3]:
path

PosixPath('/home/sloth/datasets/anime/anime-recommendations-database')

In [4]:
ratings = pd.read_csv(path/"anime.csv")

In [5]:
ratings.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
#creating new dataframe without animes with no genres
ratings["genre"] = ratings['genre'].fillna(0)

In [6]:
ratings_new.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [42]:
#creating a dictonary with keys being genres and values being 0
it = ratings.itertuples()
thing = {}
for item in it:
    thing.update({item[4]: 1})

In [56]:
it = ratings.itertuples()
new = {}
count = 0;
for item in it:
    if item[4] == "Movie":
        array = [item[1], 1, 0, 0, 0 ,0 ,0 , 0]
    elif item[4] == "TV":
        array = [item[1], 0, 1, 0, 0 ,0 ,0 , 0]
    elif item[4] == "OVA":
        array = [item[1], 0, 0, 1, 0 ,0 ,0 , 0]
    elif item[4] == "Special":
        array = [item[1], 0, 0, 0, 1 ,0 ,0 , 0]
    elif item[4] == "Music":
        array = [item[1], 0, 0, 0, 0 ,1 ,0 , 0]
    elif item[4] == "ONA":
        array = [item[1], 0, 0, 0, 0 ,0 ,1 , 0]
    elif item[4] == "nan":
        array = [item[1], 0, 0, 0, 0 ,0 ,0 , 1]
    new.update({count:array})
    count += 1

In [48]:
type_df = pd.DataFrame.from_dict(new, orient="index", columns = ["anime_id",'Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', "Other"])

In [49]:
type_df.head()

   anime_id  Movie  TV  OVA  Special  Music  ONA  Other
0     32281      1   0    0        0      0    0      0
1      5114      0   1    0        0      0    0      0
2     28977      0   1    0        0      0    0      0
3      9253      0   1    0        0      0    0      0
4      9969      0   1    0        0      0    0      0

In [ ]:
{'Movie': 1, 'TV': 1, 'OVA': 1, 'Special': 1, 'Music': 1, 'ONA': 1, nan: 1}

1